input[type="range"], progress
{
    width: 100%;
    -webkit-transition: width 1.6s linear;
    -moz-transition: width 1.6s linear;
    -o-transition: width 1.6s linear;
    transition: width 1.6s linear;
}

.progress
{
    height: 20px;
}
.progress .determinate
{
    transition: width 1s linear;
}

body
{
    text-align: center;
}

.test
{
    height: 20%;
    width: auto;
}

video
{
    height: 25vw;
    width: auto;
}

tr
{
    cursor: move;
}