table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
#video
{
    width: 1000px;
    height: auto;
}

input[type="range"], progress
{
    width: 100%;
    -webkit-transition: width 1.6s linear;
    -moz-transition: width 1.6s linear;
    -o-transition: width 1.6s linear;
    transition: width 1.6s linear;
}